<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>math.js | plot</title>
  <script src="https://unpkg.com/mathjs@9.4.4/lib/browser/math.js"></script>

  <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>

  <style>
    input[type=text] {
      width: 300px;
    }
    input {
      padding: 6px;
    }
    body, html, input {
      font-family: sans-serif;
      font-size: 11pt;

    }
    form {
      margin: 20px 0;
    }
  </style>
</head>

<body>
    <h1>Particle Swarm Optimisation</h1>
    <h2>Optimisation results</h2>
    <table>
        <tr>
            <td>Iteration</td>
            <td>{{ currIter }}/{{ maxIter }}</td>
        </tr>
        <tr>
            <td>Particles</td>
            <td>{{ noParticlesDone }}/{{ noParticles }}</td>
        </tr>
        <tr>
            <td>Global best value</td>
            <td>{{ gBestVal }}</td>
        </tr>
        <tr>
            <td>Global best Position</td>
            <td>[{{gBestX}}, {{gBestY}}]</td>
        </tr>
        </table>
    <p>Convergence plot</p>
    <div id="convergence_plot"></div>
    <h2>Algorithm showcase</h2>
    <p>Fitness function contour plot with particles</p>
    <div id="contour_plot"></div>

    <script>
        // const convX = [1, 2, 3, 4, 5, 6];
        // const convY = [0.3, 1.2, 2, 2.7, 2.9];
        const convX = {{ convX }};
        const convY = {{ convY }};
        const psoHistData = {
            x: convX,
            y: convY,
            type: 'scatter'
        };

        const psoHistPlot = [psoHistData];
        Plotly.newPlot('convergence_plot', psoHistPlot);


        let size = 101, x = new Array(size), y = new Array(size), z = new Array(size), i, j;

        for(i = 0; i < size; i++) {
            x[i] = i/100;
            y[i] = i/100;
            z[i] = new Array(size);
        }

        for(i = 0; i < size; i++) {
            for(j = 0; j < size; j++) {
                z[i][j] = Math.sin(x[j]*20)+Math.sin(y[i]*15)-2*Math.pow(x[j]-0.45,2)-2*Math.pow(y[i]-0.45,2)+1.0679;
            }
        }

        const fitFunData = {
            z: z,
            x: x,
            y: y,
            type: 'contour',
            name: 'Fitness function',
            showscale: false,
        };

        // const px = [0.25, 0.25, 0.25, 0.5, 0.5, 0.5, 0.75, 0.75, 0.75];
        // const py = [0.25, 0.5, 0.75, 0.25, 0.5, 0.75, 0.25, 0.5, 0.75];
        const particleX = {{ particleX }}
        const particleY = {{ particleY }}
        const particlesData = {
            x: particleX,
            y: particleY,
            mode: 'markers',
            type: 'scatter',
            name: "Particles",
            marker: {
                size: 12,
                color: 'green',
                line: {
                    color: 'black',
                    width: 2
                }
            }
        };

        const gBestX = [{{ gBestX }}]
        const gBestY = [{{ gBestY }}]
        const gBestData = {
            x: gBestX,
            y: gBestY,
            mode: 'markers',
            type: 'scatter',
            name: "GlobalBest",
            marker: {
                size: 14,
                color: 'red',
                symbol: 'cross',
                line: {
                    color: 'black',
                    width: 2
                }
            }
        };

        const contourPlot = [fitFunData, gBestData, particlesData];

        const layout = {
            width: 800,
            height: 800,
            xaxis: {},
            yaxis: {
                scaleanchor: "x",
                scaleratio: 1
            }
        };

        Plotly.newPlot('contour_plot', contourPlot, layout);

    </script>
</body>

</html>